<app-main-menu></app-main-menu>
<div *ngFor="let people of listPeople">
<div class="uk-container">
</div>

<div  class="uk-container uk-margin-large-top">
    <div uk-grid>
        <div class="uk-width-1-4">
            <img src="./../../assets/images/alazmec-main_f74a4955.jpeg">
            <div class="uk-card uk-card-hover uk-card-body">
                <ul class="uk-list">
                    <li>"name: {{people.name}}"</li>
                    <li>"birth_year: {{people.birth_year}} "</li>
                    <li>"eye_color: {{people.eye_color}}"</li>
                    <li>"gender: {{people.gender}}"</li>
                    <li>"hair_color: {{people.hair_color}}"</li>
                    <li>"height: {{people.height}}"</li>
                    <li>"mass: {{people.mass}}"</li>
                    <li>"skin_color: {{people.skin_color}}"</li>
                    <li>"created: {{people.created}}"</li>
                </ul>
            </div>
        </div>
        <div class="uk-width-3-4">
            <div class="uk-card uk-card-hover uk-card-body">
                <h1 class="uk-heading-bullet">"{{people.name}}"</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in dui finibus risus ornare auctor. Maecenas posuere rutrum dolor, blandit dapibus dolor viverra non. Pellentesque pretium velit non nisi mattis consequat. Suspendisse sagittis lorem velit, id varius tellus varius egestas. Nunc scelerisque et lacus in consectetur. Sed diam sapien, ornare sed mollis in, porta quis erat. Etiam in placerat augue. Sed vitae magna aliquam, dignissim metus nec, dignissim nulla. Integer ultricies odio ut sapien sagittis scelerisque. Morbi iaculis ullamcorper eros, eu interdum leo pulvinar eget. Ut facilisis tempus enim, non maximus odio suscipit ut. Suspendisse ex nulla, gravida ut efficitur a, luctus ut mauris. Morbi ut ultricies magna, sit amet sodales dolor. Duis nunc arcu, condimentum eget lorem vel, pellentesque sodales nulla.</p>
                <iframe width="560" height="315" src="https://www.starwars.com/embed/5a2191d8dc1f3ebd6b4f2a72" width="1920" height="1080" frameborder="0" allowfullscreen uk-responsive></iframe>
            </div>
        </div>
    </div>
</div>
</div>
<app-footer></app-footer>