<!-- banner inicial -->
<div uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center
  uk-slideshow class='slider-people-internal'>
  <ul class="uk-slideshow-items ">
    <li>
      <img src="./../../../assets/images/logo-banner-default.png" alt="" uk-cover>
    </li>
  </ul>
</div>

<!-- contenedor padre people interna -->
<div class="uk-container uk-container-small">

  <div class="uk-section uk-section-default section-people-internal">
<!-- imagen de perfil -->
    <div class="profile-picture">
      <img src="./../../../assets/images/yoda-default.png" alt="">
    </div>
<!-- cajon para agrupar el contenido -->
    <div class="section-people-internal-content">

      <aside>
        <ul class="uk-list">
          <li>name</li>
          <li>Bbirth_year</li>
          <li>eye_color</li>
          <li>gender</li>
          <li>hair_color</li>
          <li>height</li>
          <li>mass</li>
          <li>skin_color</li>
        </ul>
      </aside>

      <!-- Peliculas personaje-->
      <div class="uk-container uk-container-small container-people-galery-internal">

        <div class="uk-child-width-1-2@m" uk-grid uk-lightbox="animation: slide">
          <div>
            <div class="uk-h4">Pelicula</div>
            <a class="uk-inline" href="images/dark.jpg" data-caption="Caption 1">
              <img src="./../../assets/images/yoda-default.png" alt="">
            </a>
          </div>
          <div>
            <div class="uk-h4">Pelicula</div>
            <a class="uk-inline" href="images/light.jpg" data-caption="Caption 2">
              <img src="./../../assets/images/yoda-default.png" alt="">
            </a>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
