<app-main-menu></app-main-menu>
<div uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center
  uk-slideshow class='slider-starships'>
  <ul class="uk-slideshow-items">
    <li>
      <img src="./../../assets/Vulture Droid.png" alt="" uk-cover>
    </li>
  </ul>
</div>

<div class="uk-container uk-container-small">
  <div class="uk-section uk-section-default section-starships">
    <ul class="uk-list uk-list-divider alphabet-list">
      <li>Todo</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>ñ</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
      <li></li>
    </ul>

  </div>
  <!-- Galeria naves  -->
  <div class="uk-container uk-container-small container-starships-galery">

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: slide">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Supremacy.jpg" data-caption="Caption 1">
          <img src="./../../assets/The_Ghost_USW_NE.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/TIE Bomber.jpeg" data-caption="Caption 2">
          <img src="./../../assets/transporte-gallofree.jpg" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Solar Sailer.jpg" data-caption="Caption 3">
          <img src="./../../assets/Trade Federation Landing Ships.png" alt="">
        </a>
      </div>
    </div>

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/alax.jpg" data-caption="Caption 1">
          <img src="./../../assets/The_Ghost_USW_NE.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Sebulba’s Podracer.png" data-caption="Caption 2">
          <img src="./../../assets/V-Wing Fighter.jpg" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Raddus_Ship_at_DQar.png" data-caption="Caption 3">
          <img src="./../../assets/Republic Cruiser.jpeg" alt="">
        </a>
      </div>
    </div>

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: scale">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Sebulba’s Podracer.png" data-caption="Caption 1">
          <img src="./../../assets/Tantive IV.jpeg" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/Delta 7B.png" data-caption="Caption 2">
          <img src="./../../assets/espiritu.jpg" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="./../../assets/GR-75 Medium Transport.jpg" data-caption="Caption 3">
          <img src="./../../assets/halcon-ebano.jpg" alt="">
        </a>
      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>