<div uk-background-top-left uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-middle uk-flex-center
  uk-slideshow class='slider-people'>
  <ul class="uk-slideshow-items">
    <li>
      <img src="./../../assets/images/sable.jpg" alt="" uk-cover>
    </li>
  </ul>
</div>



<div class="uk-container uk-container-small">
  <div class="uk-section uk-section-default section-people">
    <ul class="uk-list uk-list-divider alphabet-list">
      <li>Todo</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>ñ</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
      <li></li>
    </ul>

  </div>
  <!-- Galeria personajes -->
  <div class="uk-container uk-container-small container-people-galery">

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: slide">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/photo.jpg" data-caption="Caption 1">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/dark.jpg" data-caption="Caption 2">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/light.jpg" data-caption="Caption 3">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
    </div>

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: fade">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/photo.jpg" data-caption="Caption 1">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/dark.jpg" data-caption="Caption 2">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/light.jpg" data-caption="Caption 3">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
    </div>

    <div class="uk-child-width-1-3@m" uk-grid uk-lightbox="animation: scale">
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/photo.jpg" data-caption="Caption 1">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/dark.jpg" data-caption="Caption 2">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
      <div>
        <div class="uk-h4">Name</div>
        <a class="uk-inline" href="images/light.jpg" data-caption="Caption 3">
          <img src="./../../assets/images/yoda-default.png" alt="">
        </a>
      </div>
    </div>

  </div>

</div>

<footer></footer>
