.slider-people img{
    width: 100% !important;
    height: 450px !important;
}

.section-people .alphabet-list{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.section-people .alphabet-list li{
    border: 0;
}

.container-people-galery{
    margin-top: 80px;
}
