.slider-people img{
    width: 100% !important;
    height: 400px !important;
}

.slider-people{
    height: 400px;
}

.slideshow-li{
    height: 400px;
}

.section-people .alphabet-list{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
}

.section-people .alphabet-list li{
    border: 0;
}

.container-people-galery{
    margin-top: 80px;
}

.list-service{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.list-items-service{
    justify-content: space-around;
    width: 50%;

}